/* Table of Contents
 * Section					Section Name											Line Number
 *
 * Section 01				General Site-wide Rules									19
 * Section 02				Base Containers											91
 * Section 03				Page Header												106
 * Section 04				Site-wide Navigation Menu								119
 * Section 05				Site-wide Navigation Menu Link States					152
 * Section 06				Current Page Identification								185
 * Section 07				Main Menu Border Separation								230
 * Section 08				Second Tier Menu										246
 * Section 09				Third Tier Menu											275
 * Section 10				Main Content											302
 * Section 11				Page Footer												349
 * Section 12				Theme Rules											    376
 * Section 13				Page Specific Rules										446
*/

/* General Site-wide Rules */
/* Site-wide Preparation Rules */
/* HTML5 Display Rule (for older browsers) */
aside, article, footer, header, section {
	display: block;
}
/* Site-wide CSS Resets */
p, h1, h2 {
    padding: 0;
	margin: 0;
}
/* Set spacing between paragraphs */
p {
    margin-bottom: 10px;
}
/* Reset of the bottom margin for the last paragraph of any section to ensure that section's bottom spacing is the only spacing applied */
p:last-of-type {
    margin-bottom: 0px;
}
/* Spacing Classes */
/* Margin */
.mt1 {
    margin-top: 1em;
}
.mr1 {
    margin-right: 1em;
}
.mb1 {
    margin-bottom: 1em;
}
.ml1 {
    margin-left: 1em;
}
.mt2 {
    margin-top: 2em;
}
.mr2 {
    margin-right: 2em;
}
.mb2 {
    margin-bottom: 2em;
}
.ml2 {
    margin-left: 2em;
}
/* Padding */
.pt1 {
    padding-top: 1em;
}
.pr1 {
    padding-right: 1em;
}
.pb1 {
    padding-bottom: 1em;
}
.pl1 {
    padding-left: 1em;
}
.pt2 {
    padding-top: 2em;
}
.pr2 {
    padding-right: 2em;
}
.pb2 {
    padding-bottom: 2em;
}
.pl2 {
    padding-left: 2em;
}


/* Base Containers */
html {
	background: #f2f2e9;
	padding: 0;
	margin: 0;
	margin-top: 5px;
}
body {
	background: #fff;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	margin: 0 auto;
	text-align: center;
	width: 1000px;
}

/* Page Header */
#pageHeader {
	background-color: #642E7A;
    border-bottom: none;
	color: #fff;
	height: 100px;
}
#pageHeader h2{
	float: left;
	margin: 0;
	padding: 14px 0px 0px 20px;
}

/* Site-wide Navigation Menu */
/* Convert normal unordered list to a horizontal menu */ 
nav {
	background-color: #fedf43;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	height: 2em;
}
nav ul,
nav li
{
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul {
	height: 2em;
	width: 100%;
}
nav li {
	color: #005cf9;
	font-weight: bold;
	line-height: 2em;
	position: relative;
	width: 20%;
}
nav li a {
	color: #005cf9;
	display: block;
	line-height: 2em;
	text-decoration: none;
}

/* Site-wide Navigation Menu Link States */
/* States: Link, Visited */
/* Any unselected unvisited link in the first, second or third tier menu */ nav a:link,
/* Any unselected visited link in the first, second or third tier menu */ nav a:visited
{
	border-bottom: none;
	color: #005cf9;
	font-weight: bold;
}
/* Third Tier Specific Styling */
/* Any unselected unvisited link in the third tier menu */ nav > ul > li > ul > li > ul > li > a:link,
/* Any unselected visited link in the third tier menu */ nav > ul > li > ul > li > ul > li > a:visited
{
	background-color: #005cf9;
	color: #fedf43;
}
/* States: Hover */
/* Any unselected hovered link in the first tier menu */ nav a:hover,
/* Any unselected hovered link in the second tier menu */ nav > ul > li:hover > ul > li:hover > a,
/* Any unselected hovered link in the third tier menu */ nav > ul > li:hover > ul > li:hover > ul > li:hover > a
{
	background-color: #ff0;
	color: #f00;
	height: 2em;
}
/* The following rule applies to list items in the top menu without links (for the staff specific menus)
/* Any unselected hovered list item in the first tier menu */ nav li:hover {
	background-color: #ff0;
	color: #f00;
	cursor: pointer;
	height: 2em;
}

/* Current Page Identification */
/* Styling for the menu item corresponding to the page the user is currently viewing */
/* Note: Due to the order of the link states, the colour being defined below is overriding the colour value
		 provided in the above rule. However, the background colour is retained because it is not defined below. */
/* Any selected unvisited link with the class of selected in the first tier menu */ nav > ul > .selected > a:link,
/* Any selected visited link with the class of selected in the first tier menu */ nav > ul > .selected > a:visited,
/* Any selected unvisited link inside the second tier menu */ nav > ul > .selected > ul > .selected > a:link,
/* Any selected visited link inside the second tier menu */ nav > ul > .selected > ul > .selected > a:visited
{
    background-color: #fedf43;
	color: #000;
	/* Set the cursor to the default symbol to provide the illusion of a disabled link */
	cursor: default;
}
/* Any selected unvisited link inside the third tier menu */ nav > ul > .selected > ul > .selected > ul > .selected > a:link,
/* Any selected visited link inside the third tier menu */ nav > ul > .selected > ul > .selected > ul > .selected > a:visited
{
    background-color: #005cf9;
	color: #000;
	/* Set the cursor to the default symbol to provide the illusion of a disabled link */
	cursor: default;
}
/* The following rule applies to list items in the top menu without links (for the staff specific menus)
/* Any selected list item in the first tier menu */ nav li.selected,
/* Any selected hovered list item in the first tier menu */ nav li:hover.selected
{
    color: #000;
	/* Set the cursor to the default symbol to provide the illusion of a disabled link */
	cursor: default;
}
/* Search Bar */
.search,
.search:hover {
	background-color: #fedf43;
	color: #005cf9;
	cursor: default;
	height: 2em;
	text-align: right;
	width: 400px;
}
.search > form > input:first-of-type {
	position: relative;
	top: -1px;
}

/* Main Menu Border Separation */
/* Second and Third Tier Menu Border Styles */
/* Note: The second rule in this section only refers to the second tier menu because
		 the third tier menu has nothing above it. */
.secondTier > li,
.thirdTier > li {
	border-bottom: 1px solid #fff;
}
.secondTier > li:first-of-type {
	border-top: 1px solid #fff;
}
.secondTier > li:last-of-type,
.thirdTier > li:last-of-type {
	border-bottom: none;
}

/* Second Tier Menu */
nav .secondTier li {
	background-color: #fedf43;
	/* Set the width to force the floated child menu to display as a vertical menu */
	width: 200px;
}
/* Set the second tier menu outside of the device's viewport as its default position */
nav .secondTier {
	height: auto;
	left: -10000em;
	/* Hide the child menu this way allows for the transition effect */
	max-height: 0;
	/* Hide the absolutely positioned container's content when the max-height is set to 0 */
	overflow: hidden;
	position: absolute;
	top: 2em;
	-moz-transition: max-height 0.5s ease-in-out;
	-webkit-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
}
/* Display the second tier menu in its appropriate position which is below the corresponding first tier menu item */
nav li:hover ul,
nav li.topMenu:hover ul {
	left: 0;
	max-height: 10em;
	overflow: visible;
}

/* Third Tier Menu */
nav .thirdTier li {
	background-color: #fedf43;
	/* Set the width to force the floated child menu to display as a vertical menu */
	width: 200px;
}
/* Set the third tier menu outside of the device's viewport as its default position */
nav .thirdTier {
	/* Hide the child menu this way allows for the transition effect */
	max-height: 0;
	/* Hide the absolutely positioned container's content when the max-height is set to 0 */
	overflow: hidden;
	position: absolute;
	top: -10000em;
	-moz-transition: max-height 0.5s ease-in-out;
	-webkit-transition: max-height 0.5s ease-in-out;
	-o-transition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;	
}
/* Display the third tier menu in its appropriate position which is to the right of the corresponding second tier menu item */
nav ul.secondTier li:hover ul {	
	left: 200px;
	max-height: 10em;
	position: absolute;
	top: 0;
}

/* Main Content */
#userBar {
    background-color: #eee;
    color: #fedf43;
    font-family: "Trebuchet MS";
    font-size: 0.9em;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
}
#userBar .breadcrumb {
    color: #000;
    float: left;
    margin-left: 0.5em;
}
#userBar > span > a:link, #userBar > span > a:visited {
    color: #00f;
    text-decoration: none;
}
#userBar > span > a:hover, #userBar > span > a:active {
    color: #00f;
    text-decoration: underline;
}
#userBar #current {
    color: #000;
}
#userBar .usercart {
    float: right;
    width: 5em;
}
#mainContent {
	/* Clear any floats from the main navigation menu above */
	clear: both;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	padding: 10px 20px 20px 20px;
	text-align: left;
	width: 958px;
}
#mainContent h1 {
    margin-bottom: 10px;
}
article h2 {
	margin-bottom: 15px;
    text-decoration: underline;
}

/* Page Footer */
#pageFooter {
	background: #fed443;
	color: #000;
	font-family: "Trebuchet MS";
	font-size: .9em;
	font-weight: bold;
	/* Add space below the footer for those pages which extend to beyond the bottom edge of the device's viewport */
	margin-bottom: 5px;
	margin-top: 0px;
	padding: 0.25em 1em;
}
#footerMenu {
    border-bottom: 1px outset #fedf4f;
    font-size: 0.8em;
    margin-bottom: 0.25em;
    padding-bottom: 0.25em
}
#footerMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footerMenu li {
    display: inline;
}

/* Theme Rules */
/* Class to apply to elements links to pages intended to assist the user */
.assistance  {
    cursor: help;
}
/* Class to apply when needing to clear floats */
.cb {
    clear: both;
}
/* Error Message */
.errorMsg {
    color: #f00;
    font-style: italic;
}
/* Permanent Link */
.pLink {
    color: #00f;
    text-decoration: none;
}
.pLink:hover {
    text-decoration: underline;
}
/* Button Rules */
/* The theme button */ .button,
/* Main Navigation Search Button */ .navpLButton
{
	background-color: #642E7A;
	border: none;
	color: #fff;
	cursor: pointer;
	display: table;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 100;	
	padding: 0 1em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.button {
    line-height: 2em;
}
.button:hover,
.navpLButton:hover,
.button:active,
.navpLButton:active
{
	background-color: #f00;
	outline: none;
}
/* Rule for for buttons */
.formButton {
    height: 2em;
    line-height: 2em;
    padding: 0 2em;
    margin: 0.5em 0;
}
/* Rule for the main type of button */
.mButton {
    height: 2em;
    width: 12em;
}
/* Rules specific to the main navigation search button */
.navpLButton {
	display: inline;
	height: 1.4em;
	line-height: 1em;
	margin: 0 0.25em;
}

/* Page Specific Rules */
/* Services Page */
/* Another rule set to ensure consistent spacing all around the main content of every page */
#mainContent ul {
    margin-bottom: 0px;
}
/* Login Page */
#loginFormFrame {
	margin:0px auto 0px auto;
	width:250px;
}
/* The button in the section element after the results of a search on the search page */
.baseButton {
	margin: 0 auto;
	outline: none;
}
/* The styling for table in the user's cart page displaying the list of products in their cart */
#cartTable {
    border-collapse: collapse;
    margin: 1.5em 0;
    width: 100%;
}
#cartTable th, #cartTable td {
    border: 1px solid #000;
    padding: 1em 1em;
    text-align: center;
}
#cartTable a:link, #cartTable a:visited {
    color: #00f;
    text-decoration: none;
}
#cartTable a:hover {
    text-decoration: underline;
}
/* The styling for the column containing the cart item number */
#cartTable tr > th:first-of-type {
    width: 4em;
}
/* The styling for the column containing the cart item name */
#cartTable tr > th:nth-child(2) {
    width: 10em;
}
/* The styling for the column containing the cart item details */
#cartTable tr > td:nth-child(3) {
    text-align: left;
}
/* The styling for the column containing the cart item's price */
#cartTable tr > th:nth-child(4) {
    width: 6em;
}
/* Rules to create a horizontal list */
.hList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hList ul li {
    display: inline;
}
.hList > ul > li > a, .hList > ul > li > span {
    padding: .2em 1em;
}
/* The styling for pagination links container */
#paginationLinks {
    margin: 1em auto;
    text-align: center;
}
/* The styling for the pagination buttons */
#paginationLinks > ul > li > .pLButton {
    background-color: #642E7A;;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 3em;  
    padding: 0.5em 1.25em;
    text-align: center;
    text-decoration: none;
}
#paginationLinks > ul > li > .pLButton:hover {
    background-color: #f00;
}
/* Psuedo button for the search pagination links */
#paginationLinks > ul > li > .psuedoB {
    background-color: #f1f1f1;
    color: #000;
    cursor: default;
    font-style: oblique;
}
#paginationLinks > ul > li > .psuedoB:hover {
    background-color: #f1f1f1;
}
/* Rules for search results cells */
.productImage > img {
    height: 300px;
    width: 300px;
}
.productDescription {
    width: 600px;
}
.productsTable th {
    vertical-align: top;
}
/* The styling for the product description */
.descr {
    line-height: 1.5em;
    text-align:justify;
}
/* The section element after the results of a search on the search page */
#searchFooter {
}
/* Rules for the search results */
/* Rule to allow the description to span the entire available width. */
.searchDescription {
    width: 100%;
    border-bottom: 5px outset #00f;
}
/* Rule to provide space for the link in the search results */
.searchLink {
    margin-top: 1em;
}
/* Rule to centre the search results data with the exception of the value names (contained in the "th" element) */
#searchResultsHeadingTable {
    border-bottom: 5px outset #00f;
    border-top: 5px outset #00f;
    margin: 1.5em auto;
    width: 950px;
}
/* The styling for the column for the product name */
#searchResultsHeadingTable td:first-of-type {
    width: 495px;
}
/* The styling for the column for the product cost */
#searchResultsHeadingTable td:nth-child(2) {
    width: 255px;
}
/* The styling for the search results table */
.searchResultsTable {
    margin: 0 auto;
    width: 950px;
}
/* The styling for the search results table cells */
.searchResultsTable td, .searchResultsTable th {
    text-align: center;
    width: 20%;
}
/* The styling for the column containing the product name link */
.searchResultsTable tr > td:first-of-type {
    text-align: center;
    vertical-align: top;
}
/* The styling for the Sitemap */
.sLink ul {
    list-style-type: none;
}
/* The pattern to display before each link */
.sLink ul li:before {
        content: "\005B\002B\005D\0020";
}
.sLink a:link, .sLink a:visited{
    color: #00f;
    text-decoration: none;
}
.sLink a:hover, .sLink a:active {
    color: #00f;
    text-decoration: underline;
}
/* The styling for the user profile page */
#userProfile {
    margin: 25px auto;
    text-align: center;
    width: 900px;
}
#profileTable th {
    padding: 5px 50px 5px 0;
    text-align: right;
    width: 450px;
}
#profileTable td {
    text-align: left;
    width: 450px;
}
#profileTable + table {
    margin: 0 auto;
    width: 295px;
}
/* The styling for table in the user's repair project page displaying the list of active projects */
#viewProjectTable {
    border-collapse: collapse;
    margin: 1.5em 0;
    width: 100%;
}
#viewProjectTable th, #viewProjectTable td {
    border: 1px solid #000;
    text-align: center;
    padding: 1em 1em;
}
/* The styling for the column containing the project details */
#viewProjectTable tr > td:first-of-type {
    text-align: left;
    width: 400px;
}
/* The styling for the column containing the project status */
#viewProjectTable tr > th {
    width: 5em;
}